language = "csharp"
run = "mcs -out:main.exe 'projeto III/Main.cs' 'projeto III/Publicacao.cs' 'projeto III/Perfil.cs' 'projeto III/Banco.cs' 'projeto III/Mensagem.cs' 'projeto III/NPerfil.cs' 'projeto III/NUsuario.cs' 'projeto III/Usuario.cs' 'projeto III/Comentario.cs' 'projeto III/Mensagem.cs' 'projeto III/Arquivo.cs' 'projeto III/Curtida.cs'; mono main.exe"