language = "csharp"
run = "mcs -out:main.exe 'Projeto/Main.cs' 'Projeto/Home.cs' 'Projeto/Profile.cs' 'Projeto/Publicacao.cs' 'Projeto/User.cs' 'Projeto/Friends.cs' 'Projeto/NPerfil.cs' 'Projeto/NUsuario.cs' 'Projeto/NHome.cs'; mono main.exe"