language = "csharp"
run = "mcs -out:main.exe 'Projeto II/Main.cs' 'Projeto II/Publicacao.cs' 'Projeto II/Perfil.cs' 'Projeto II/Banco.cs' 'Projeto II/Mensagem.cs' 'Projeto II/NPerfil.cs' 'Projeto II/NUsuario.cs' 'Projeto II/Usuario.cs' 'Projeto II/Comentario.cs' 'Projeto II/Mensagem.cs'; mono main.exe"